jsptagrefdoclet/schema/jsptagrefschema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This schema defines the XML generated by the JspTagDoc doclet. -->
<xs:schema targetNamespace="http://apache.org/beehive/netui/tools/doclet/schema"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:ref="http://apache.org/beehive/netui/tools/doclet/schema" elementFormDefault="qualified">
    <xs:element name="jsp-tag">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="prefix" type="xs:string"/>
                <xs:element name="uri" type="xs:anyURI"/>
                <xs:element name="taglib-version" type="xs:string"/>
                <xs:element name="jsp-version" type="xs:string"/>
                <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="handler-class" type="ref:TypeInfoType"/>
                <xs:element name="tei-class" type="ref:TypeInfoType"/>
                <xs:element name="body-content" type="xs:string"/>
                <xs:element name="dynamic-attributes" type="xs:boolean"/>
                <xs:element name="display-name" type="ref:DisplayNameType"/>
                <xs:element name="small-icon" type="xs:string" minOccurs="0"/>
                <xs:element name="large-icon" type="xs:string" minOccurs="0"/>
                <xs:element name="tld-example" type="xs:string"/>
                <xs:element name="attributes" type="ref:AttributesType"/>
                <xs:element name="variables" type="ref:VariablesType"/>
            </xs:sequence>
            <xs:attribute name="docRoot" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="function">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="prefix" type="xs:string"/>
                <xs:element name="uri" type="xs:anyURI"/>
                <xs:element name="display-name" type="ref:DisplayNameType"/>
                <xs:element name="small-icon" type="xs:string" minOccurs="0"/>
                <xs:element name="large-icon" type="xs:string" minOccurs="0"/>
                <xs:element name="taglib-version" type="xs:string"/>
                <xs:element name="jsp-version" type="xs:string"/>
                <xs:element name="function-class" type="ref:TypeInfoType"/>
                <xs:element name="function-signature" type="xs:string"/>
                <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="function-support-method" type="ref:MethodType" maxOccurs="1"/>
                <xs:element name="tld-example" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="docRoot" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="taglib-summaries">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="taglib-summary" type="ref:TaglibSummaryType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TaglibSummaryType">
        <xs:sequence>
            <xs:element name="uri" type="ref:SummaryUriType"/>
            <xs:element name="prefix" type="xs:string"/>
            <xs:element name="taglib-version" type="xs:string"/>
            <xs:element name="display-name" type="xs:string"/>
            <xs:element name="small-icon" type="xs:string" minOccurs="0"/>
            <xs:element name="large-icon" type="xs:string" minOccurs="0"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="jsp-tag-summary" type="ref:JspTagSummaryType" maxOccurs="unbounded"/>
            <xs:element name="function-summary" type="ref:FunctionSummaryType" maxOccurs="unbounded"/>
            <xs:element name="validator" type="ref:ValidatorType" minOccurs="0"/>
            <xs:element name="listener" type="ref:ListenerType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="docRoot" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="SummaryUriType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="uriPath" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="JspTagSummaryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="tagdescription" type="ref:TagDescriptionType"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tag-class-description" type="ref:DescriptionType" minOccurs="0"/>
            <xs:element name="attribute-summaries">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="attribute-summary" type="ref:AttributeSummaryType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributeSummaryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="attributedescription" type="ref:AttributeDescriptionType" minOccurs="0"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0"/>
            <xs:element name="setter-description" type="ref:DescriptionType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FunctionSummaryType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="signature" type="xs:string"/>
            <xs:element name="return" type="xs:string"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MethodsType">
        <xs:sequence>
            <xs:element name="method" type="ref:MethodType" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MethodType" mixed="true">
        <xs:sequence>
            <xs:element name="parameter" type="ref:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="returns" type="ref:TypeInfoType" maxOccurs="1"/>
            <xs:element name="throws" type="ref:ThrowsType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="description" type="ref:DescriptionType" minOccurs="0"/>
            <xs:element name="javadoc-tags" type="ref:JavadocTagsType" minOccurs="0"/>
            <xs:element name="enclosing-type" type="ref:EnclosureType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="mod" type="xs:string" use="required"/>
        <xs:attribute name="signature" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="ParameterType" mixed="true">
        <xs:sequence>
            <xs:element name="description" type="ref:DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="javadoc-tags" type="ref:JavadocTagsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="typeName" type="xs:string" use="required"/>
        <xs:attribute name="inPackage" type="xs:string"/>
        <xs:attribute name="dimension" type="xs:string"/>
        <xs:attribute name="packagePath" type="xs:string" use="required"/>
        <xs:attribute name="exclude" type="xs:boolean" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ThrowsType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="typeName" type="xs:string" use="optional"/>
                <xs:attribute name="inPackage" type="xs:string" use="optional"/>
                <xs:attribute name="packagePath" type="xs:string" use="required"/>
                <xs:attribute name="exclude" type="xs:boolean" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="EnclosureType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="typeName" type="xs:string" use="required"/>
                <xs:attribute name="inPackage" type="xs:string" use="required"/>
                <xs:attribute name="mod" type="xs:string" use="required"/>
                <xs:attribute name="typeKind" type="xs:string" use="required"/>
                <xs:attribute name="packagePath" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TypeInfoType">
        <xs:sequence>
            <xs:element name="full-name" type="xs:string" minOccurs="0"/>
            <xs:element name="description" type="ref:DescriptionType" minOccurs="0"/>
            <xs:element name="javadoc-tags" type="ref:JavadocTagsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="typeName" type="xs:string" use="optional"/>
        <xs:attribute name="inPackage" type="xs:string" use="optional"/>
        <xs:attribute name="mod" type="xs:string" use="optional"/>
        <xs:attribute name="typeKind" type="xs:string" use="optional"/>
        <xs:attribute name="dimension" type="xs:string"/>
        <xs:attribute name="packagePath" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="DescriptionType">
        <xs:sequence>
            <xs:element name="lead" type="ref:TextAndTagsType" minOccurs="0"/>
            <xs:element name="detail" type="ref:TextAndTagsType" minOccurs="0"/>
            <xs:element name="TODO" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="source-info" type="ref:SourceInfoType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TextAndTagsType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="javadoc-tag" type="ref:JavadocTagType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="JavadocTagsType">
        <xs:sequence>
            <xs:element name="javadoc-tag" type="ref:JavadocTagType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="JavadocTagType">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="head" type="xs:string" />
        <xs:attribute name="prefix" type="xs:string" />
    </xs:complexType>
    <xs:complexType name="LinkTargetType">
        <xs:complexContent>
            <xs:extension base="ref:TextAndTagsType">
                <xs:attribute name="label" type="xs:string" use="optional"/>
                <xs:attribute name="inPackage" type="xs:string" use="optional"/>
                <xs:attribute name="packagePath" type="xs:string" use="optional"/>
                <xs:attribute name="typeName" type="xs:string" use="optional"/>
                <xs:attribute name="signature" type="xs:string" use="optional"/>
                <xs:attribute name="memberName" type="xs:string" use="optional"/>
                <xs:attribute name="tagName" type="xs:string" use="optional"/>
                <xs:attribute name="tagUri" type="xs:string" use="optional"/>
                <xs:attribute name="uriPath" type="xs:string" use="optional"/>
                <xs:attribute name="tagPrefix" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="TagLinkType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="tagName" type="xs:string" use="optional"/>
                <xs:attribute name="tagUri" type="xs:string" use="optional"/>
                <xs:attribute name="uriPath" type="xs:string" use="optional"/>
                <xs:attribute name="tagPrefix" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SourceInfoType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="column" type="xs:string" use="optional"/>
                <xs:attribute name="file" type="xs:string" use="optional"/>
                <xs:attribute name="line" type="xs:string" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TagDescriptionType">
        <xs:complexContent>
            <xs:extension base="ref:DescriptionType">
                <xs:attribute name="prefix" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttributesType">
        <xs:sequence>
            <xs:element name="attribute" type="ref:AttributeType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributeType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:string" minOccurs="0"/>
            <xs:element name="required" type="xs:string" minOccurs="0"/>
            <xs:element name="rtexprvalue" type="xs:string" minOccurs="0"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0"/>
            <xs:element name="accessors" type="ref:MethodsType" minOccurs="1"/>
            <xs:element name="see" type="ref:LinkTargetType" minOccurs="0"/>
            <xs:element name="fragment" type="xs:boolean" minOccurs="0"/>
            <xs:element name="type" type="ref:TypeInfoType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributeDescriptionType">
        <xs:complexContent>
            <xs:extension base="ref:DescriptionType">
                <xs:attribute name="prefix" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AttributeSyntaxValueType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="prefix" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="DatabindableType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="prefix" type="xs:string" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="DisplayNameType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="IconType">
        <xs:sequence>
            <xs:element name="large-icon" type="xs:string"/>
            <xs:element name="small-icon" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="lang" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="VariablesType">
        <xs:sequence>
            <xs:element name="variable" type="ref:VariableType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VariableType">
        <xs:sequence>
            <xs:choice>
                <xs:element name="name-given" type="xs:string"/>
                <xs:element name="name-from-attribute" type="xs:string"/>
            </xs:choice>
            <xs:element name="variable-class" type="ref:TypeInfoType" minOccurs="0"/>
            <xs:element name="declare" type="xs:string" minOccurs="0"/>
            <xs:element name="scope" type="xs:string" minOccurs="0"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ValidatorType">
        <xs:sequence>
            <xs:element name="validator-class" type="ref:TypeInfoType"/>
            <xs:element name="init-param" type="ref:InitParamType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="InitParamType">
        <xs:sequence>
            <xs:element name="param-name" type="xs:string"/>
            <xs:element name="param-value" type="xs:string"/>
            <xs:element name="tld-description" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ListenerType">
        <xs:sequence>
            <xs:element name="listener-class" type="ref:TypeInfoType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
